* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.quotebox {
    max-width: 50vw;
    height: auto;
    margin-top: 0.5em;
    background-color:#BCECE0;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
    padding: 2em;
}

.quotespan {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.fa-quote-left {
    font-size: 3em;
    margin-right: 0.5em;
}

.quotebox__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 1px 1px 3px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.quotebox__button:hover {
    background-color: #BCECE0;
    box-shadow: 1px 1px 1px #000;
    transition: 50ms;
    cursor: pointer;
}

.quotebox__button i {
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 1px 3px;
}

@media (max-width: 321x) {
    .quotebox__button {
        margin-top: 1em;
        width: 20vw;
        height: 8vh;   
    }
}


@media (max-width: 600px) {
    .quotebox__button {
        width: 15vw;
        height: 10vh;
        
    }
}

@media (min-width: 601px) {
    .quotebox__button {
        width: 13vw;
        height: 10vh;
    }
}

@media (min-width: 721px) and (max-width: 1000px) {
    .quotebox__button {
        width: 10vw;
        height: 10vh;
    }
}

@media (min-width: 1001px) {
    .quotebox__button {
        width: 5vw;
        height: 10vh;
    }
}